<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:locale" content="pt_BR">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        
        <title>Processo <%= processo.idProcessos %> </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Procon - Campo Mourão</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Olá Procon Campo Mourão!
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ver perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Sair</a>
                  </div>
                </li>
            </div>
        </nav>
        <div class="container">
          <div class="row justify-content-md-center">
              <div class="col-sm-10 col-md-10 col-lg-8">
                <div class="titulo_grande"><h1> Processo <%= processo.idProcessos %> </h1></div>

                <div class="campo_status">
                  <form action="/processo" method="put">
                      <div class="form-group">
                        <div class="input-group mb-3">
                          <select class="form-control" id="processo_status">
                            <option>Esperando confirmação</option>
                            <option>Aguardando documentação</option>
                            <option>Em andamento</option>
                            <option>Fechado</option>
                          </select>
                          <div class="input-group-append">
                              <button type="submit" class="btn btn-outline-secondary">Salvar</button>
                          </div>
                      </div>
                      </div>
                  </form>
              </div>

                <div><spam class="titulo_pequeno">Reclamante: </spam><p>  <%= processo.ClienteIdClientes %> </p></div>
                <div><spam class="titulo_pequeno">Reclamadas: </spam><p>  Banco do Brasil </p></div>
                <div><spam class="titulo_pequeno">História ocorrência: </spam><p>  <%= processo.historiaOcorrencia %> </p></div>
                <div><spam class="titulo_pequeno">Documentos apresentados: </spam><p>  <%= processo.docApresentados %> </p></div>
                <div><spam class="titulo_pequeno">Forma atendimento: </spam><p>  <%= processo.formaAtendimento %> </p></div>
                <div><spam class="titulo_pequeno">Tipo atendimento: </spam><p>  <%= processo.tipoAtendimento %> </p></div>
                <div><spam class="titulo_pequeno">Data início: </spam><p>  <%= processo.dataHora %> </p></div>
                <div><spam class="titulo_pequeno">Status: </spam><p>  <%= processo.status %> </p></div>
                <div><spam class="titulo_pequeno">Processo: </spam><p>  <%= processo.processo %> </p></div>
              </div>
          </div>

        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>